.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header p {
  margin: 0;
}

.header p a {
  padding: 1rem 0.5rem;
}

.header .flex {
  gap:  0.5rem;
}

.header-title {
  font-size: 1.2em;
}

.post-line {
  margin-bottom: 1.5rem;
}

time {
  font-family: var(--font-mono);
  font-size: small;
}

.single-tags {
  margin-bottom: 2rem;
  font-size: 0.9em;
  opacity: 0.6;
}

.single-tags a {
  text-transform: lowercase;
}

code {
  font-size: 0.7em;
}

.img-container {
  border-radius: 0.7rem;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .post-line {
    flex-wrap: wrap;
  }

  .line-date {
    text-align: left;
  }
}
