.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin: 0;
}

.header p a {
  padding: 16px 8px;
}

.header .flex {
  gap: 8px;
}

.header-title {
  font-size: 1.2em;
}

.single-tags {
  margin-bottom: 32px;
}

.single-tags a {
  text-transform: lowercase;
}

code {
  font-size: 0.7em;
}

.img-container {
  border-radius: 1em;
  overflow: hidden;
}