@font-face {
  font-family: 'Georgia';
  src: local(Georgia);
  font-weight: normal;
  size-adjust: 103%;
  ascent-override: 115%;
  descent-override: 29%;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Georgia';
  src: local(Georgia);
  font-weight: bold;
  size-adjust: 109%;
  ascent-override: 108%;
  descent-override: 29%;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Courier New';
  src: local(Courier New);
  size-adjust: 102%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: normal;
}

:root {
  --font-mono: "Monaspace", 'Courier New', ui-monospace, monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header p {
  margin: 0;
}

.header p a {
  padding: 1rem 0.5rem;
}

.header .flex {
  gap: 0.5rem;
}

.header-title {
  font-size: 1.2em;
}

.post-line {
  margin-bottom: 1.5rem;
}

time {
  font-family: var(--font-mono);
  font-size: small;
}

.single-tags {
  margin-top: 2rem;
  font-size: 0.9em;
}

.single-tags a {
  text-transform: lowercase;
}

pre code {
  font-size: 0.7em;
}

.external-link {
  &::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    background-color: currentColor;
    mask-image: url(/images/external-link.svg);
    opacity: 0.8;
  }
}

.img-container {
  border-radius: 0.7rem;
  overflow: hidden;
}

.license {
  font-size: 0.9em;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .post-line {
    flex-wrap: wrap;
  }

  .line-date {
    text-align: left;
  }
}
